aiohttp
nest-asyncio
beautifulsoup4
pandas
requests
streamlit
pypdf2
tqdm
rank_bm25
torch
transformers
langchain
langchain-core
langchain-openai
langchain-community
sentence-transformers
accelerate
bitsandbytes